.list {
	padding: 10px;
	list-style: none outside;
}

.listdec {
	padding: 10px;
	list-style: decimal outside;
}

.container_minor{
	margin: 0 40px 0 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
