body{
	font-size: 25px;
}

#result {
  width: 350px;
  height: 30px;
  background: #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 
  -2px -2px 3px rgba(0, 0, 0, 0.2);
}

.container{
	margin: 10px 10px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}